<main class="container my-5">
  <!-- カテゴリ選択 -->
  <div id="category" class="container my-5">
    <h3 class="contents-title">カテゴリ<ruby>選択<rt>せんたく</rt></ruby></h3>
    <h5 class="contents-text"><ruby>見<rt>み</rt></ruby>せたいカードのカテゴリを<ruby>選択<rt>せんたく</rt></ruby>してください。</h5>
    <div class="row g-3">
      <div class="col-sm-6">
        <div id="please-card" class="card-img">
          <a href="#">お<ruby>願<rt>ねが</rt></ruby>い</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="schedule-card" class="card-img">
          <a href="#">スケジュール</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="listen-card" class="card-img">
          <a href="#">ねえねえ<ruby>聞<rt>き</rt></ruby>いて</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="all-card" class="card-img">
          <a href="#">すべて</a>
        </div>
      </div>
    </div>
  </div>
  <!-- カード新規作成 -->
  <div id="card-create" class="container my-5">
    <form action="#">
      <h3 class="contents-title">オリジナル<ruby>絵<rt>え</rt></ruby>カード<ruby>作成<rt>さくせい</rt></ruby></h3>
      <h5 class="contents-text">オリジナル<ruby>絵<rt>え</rt></ruby>カードを<ruby>作成<rt>さくせい</rt></ruby>する<ruby>場合<rt>ばあい</rt></ruby>は、<ruby>下記<rt>かき</rt></ruby>ボタンをクリックしてください。</h5>
        <button type="submit" class="w-20 btn btn-primary btn-lg">カード<ruby>作成<rt>さくせい</rt></ruby></button>
    </form>
  </div>
</main>