<!-- メインビジュアル -->
<div class="main-visual border"></div>

<!-- メイン -->
<main class="container my-5">
  <!-- アプリ説明タイトル -->
  <h1 class="main-title">アプリ<ruby>説明<rt>せつめい</rt></ruby></h1>
  <!-- 従来の方法 -->
  <div class="conventional">
    <h3 class="contents-title"><ruby>従来<rt>じゅうらい</rt></ruby>の<ruby>方法<rt>ほうほう</rt></ruby></h3>
    <div class="container my-5">
      <div class="row g-2">
        <div class="col-sm-4">
          <div class="border conventional-img1"></div>
        </div>
        <div class="col-sm-4">
          <div class="border conventional-img2"></div>
        </div>
        <div class="col-sm-4">
          <div class="border conventional-img3">
            <div class="infomation">
              <ruby>印刷<rt>いんさつ</rt></ruby>→<ruby>切取<rt>きりとり</rt></ruby>→ラミネート→マグネットもしくはマジックシートをつける
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="border conventional-img4"></div>
          </div>
          <div class="col-sm-8">
          <div class="border conventional-img5"><ruby>持<rt>も</rt></ruby>ち<ruby>歩<rt>ある</rt></ruby>くのは<ruby>大変<rt>たいへん</rt></ruby>💦
          いつでもどこでもできるものがあるといいのに・・・</div>
        </div>
      </div>
    </div>
  </div>
  <!-- このアプリでできること -->
  <div class="purpose">
    <h3 class="contents-title">このアプリでできること</h3>
    <div class="container my-5">
      <div class="row g-2">
        <div class="col-sm-4">
          <div class="border purpose-img1"></div>
        </div>
        <div class="col-sm-8">
          <div class="border purpose-img2"> すべての<ruby>絵<rt>え</rt></ruby>カードに<ruby>音声<rt>おんせい</rt></ruby>がついています。
          <ruby>写真<rt>しゃしん</rt></ruby>でオリジナルカードも<ruby>作<rt>つく</rt></ruby>ることができ、お<ruby>子<rt>こ</rt></ruby>さんとのコミュニケーションが<ruby>広<rt>ひろ</rt></ruby>がります。
          <ruby>発語<rt>はつご</rt></ruby>のないお<ruby>子<rt>こ</rt></ruby>さんの <ruby>意思表示<rt>いしひょうじ</rt></ruby>はもちろん、ことばの<ruby>学習<rt>がくしゅう</rt></ruby>・<ruby>習得<rt>しゅうとく</rt></ruby>にもつながります。</div>
        </div>
      </div>
    </div>
  </div>
</main>