<main class="form-signin my-5" style="max-width: 400px;">
  <h1 class="h3 mb-3 text-center"><ruby>仮登録完了<rt>かりとうろくかんりょう</rt></ruby>のお<ruby>知<rt>し</rt></ruby>らせ</h1>
  <p class="text-center"><ruby>現在<rt>げんざい</rt></ruby>、<ruby>仮<rt>かり</rt></ruby>アカウントの<ruby>状態<rt>じょうたい</rt></ruby>です。</p>
  <p class="text-center">
    ただいま、ご<ruby>入力<rt>にゅうりょく</rt></ruby>いただいたメールアドレスに、<br>ご<ruby>本人様確認用<rt>ほんにんさまかくにんよう</rt></ruby>のメールをお<ruby>送<rt>おく</rt></ruby>りしました。
  </p>

  <p class="text-center">
    メール<ruby>本文内<rt>ほんぶんない</rt></ruby>のURLをクリックすると、<br><ruby>本会員登録<rt>ほんかいいんとうろく</rt></ruby>が<ruby>完了<rt>かんりょう</rt></ruby>となります。
  </p>
  <div class="text-center">
    <%= link_to root_path, class: 'nav-link' do %>
      <button type="button" class="btn btn-secondary">トップページへ</button>
    <% end %>
  </div>
</main>